@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Poppins', sans-serif;
}

.scrollbar-light::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.scrollbar-light::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 50px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

.rdrDefinedRangesWrapper {
    display: none;
}

@media (min-width: 768px) {
    .rdrDefinedRangesWrapper {
        display: block;
    }
}

@media (width < 372px) {
    .calendar {
        scale: 0.75;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #FF5A60;
}

.mapboxgl-popup-content {
    @apply bg-white w-44 rounded-md bg-opacity-40 backdrop-blur-md;
}

.mapboxgl-popup-tip {
    @apply hidden;
}

.mapboxgl-popup-close-button {
    @apply hidden;
}


/* mapboxgl-popup-tip */


/* mapboxgl-popup-content */


/* mapboxgl-popup-close-button */